#slide1 .slide-texto {
    position: absolute;
    left: 6%;
}

#slide1 h3.slide-texto {
    bottom: 23%;
    font-weight: 500;
}

#slide1 p.slide-texto {
    bottom: 11%;
    font-size: .9rem;
    display: flex;
    gap: .5rem;
}

.bg-gray {
    position: absolute;
    width: 100%;
    height: 40%;
    background-color: rgba(128, 128, 128, 0.809);
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .6rem;
}

.bg-gray h3 {
    font-weight: 500;
    font-size: 1.1rem;
}

.bg-gray p {
    font-size: .9rem;
    padding-left: 1.1rem;
    transition: all .4s;
}

.bg-gray p:hover {
    color: var(--gris-claro);
}

.cards-item.perdidos {
    height: 35vh;
}

@media (min-width: 768px) {
    #slide1 .slide-texto {
        left: 65%;
        width: 100%;
    }

    #slide1 h3.slide-texto {
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        bottom: 25%;
        text-align: right;
    }

    #slide1 p.slide-texto {
        justify-content: end;
        align-items: center;
        bottom: 17%;
        font-size: 1.5rem;
    }

    .cards-item.perdidos {
        height: auto;
    }
}