.main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-contacto {
    width: 26%;
    position: absolute;
    right: 3.7%;
    top: 8%;
}

.img-contacto img {
    display: none;
}

.contacto-container {
    background-color: var(--gris-xclaro);
    width: 90%;
    padding: 1rem;
    border-radius: .5rem;
    margin: .5rem;
}

.contacto-container h3 {
    font-size: 1.1rem;
    width: 80%;
    padding: .9rem 0;
}

@media (min-width: 768px) {
    .main-contact {
        margin-top: 5rem;
        width: 60%;
        margin: 5rem auto;
    }
    
    .contacto-container {
        padding: 1rem 2.2rem;
    }
    .contacto-container h3 {
        font-size: 1.2rem;
    }

    #img-contacto {
        display: none;
    }

    .img-contacto img {
        display: block;
        position: absolute;
        top: 12vh;
        right: 26.3vw;
        width: 15%;
    }
}