.filtro {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    background-color: var(--gris-claro); 
    box-shadow: 4px 4px 55px -22px rgba(61,61,61,0.76);
    border-radius: .5rem;
    margin:  1rem;
    padding: 1rem 0;
}

.filtro h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

.container-iconos-filtro {
    display: flex;
    gap: 2rem;
}
.filtro .container-iconos-filtro img {
    filter: grayscale(100%);
    width: 2.4rem;
    transition: all .5s;
}

.filtro .container-iconos-filtro img:hover, .filtro .container-iconos-filtro img:focus{
    filter: grayscale(0%);
}

@media (min-width: 500px) and (max-width: 1023px) {
    .filtro {
        padding: 3rem 0;
    }

    .filtro h2 {
        font-size: 1.5rem;
    }

    .filtro p {
        font-size: 1.3rem;
    }

    .filtro>.container-iconos-filtro img {
        width: 3.8rem; 
    }
}

@media (min-width: 1024px) {
    .filtro {
        height: auto;
        margin: 1rem;
        font-size: 1.1rem;
        line-height: 1.5rem;
        padding: 2rem;
    }
    .filtro h2 {
        font-size: 1.3rem;
    }

    .filtro .container-iconos-filtro img {
        width: 2.8rem;
    }
}