footer {
    box-shadow: inset 0 0 0 80px rgba(0, 0, 0, 0.1);
    padding: 1.8rem 1.2rem;
}

.text-footer {
    font-size: .8rem;
    font-weight: 400;
    height: 1rem;
    display: flex;
    align-items: center;
    gap: .2rem;
}

.text-footer img {
    width: 4%;
}

.text-footer a {
    transition: all .5s;
}

.text-footer a:hover {
    font-weight: 600;
}

@media (min-width: 768px) {
    footer {
        padding: 3rem 0;
    }

    .text-footer {
        width: 80%;
        margin: auto;
        font-size: 1rem;
        gap: .4rem;
    }

    .text-footer img {
        width: 2%;
    }
}