footer {
    box-shadow: inset 0 0 0 80px rgba(0, 0, 0, 0.1);
    color: var(--);
    padding: 1.2rem;
}

.text-footer {
    font-size: .8rem;
    font-weight: 400;
    height: 1rem;
    display: flex;
    align-items: center;
    gap: .2rem;
    transition: all .3s;
}

.text-footer img {
    width: 4%;
}

.text-footer a:hover {
    color: #EB2DA1;
}