@import url('main.css');

.slider-container {
    background-color: var(--blanco);
    width: 100%;
    padding: 1rem;
}

ul.slider {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 30vh;
    border-radius: 1rem;
    -webkit-box-shadow: 19px 23px 29px -30px rgba(61, 61, 61, 1);
    -moz-box-shadow: 19px 23px 29px -30px rgba(61, 61, 61, 1);
    box-shadow: 19px 23px 29px -30px rgba(61, 61, 61, 1);
    overflow: hidden;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: transparent;
    transition: opacity .5s;
    border-radius: 1rem;
}

ul.slider li img {
    border-radius: inherit;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    overflow: hidden;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li.active {
    opacity: 1;
}

.menu-slider {
    display: flex;
    justify-content: center;
    gap: .2rem;
    margin-top: .5rem;
}

.menu-slider li {
    text-align: center;
}

.menu-slider li a {
    color: grey;
    font-size: 1rem;
}

.menu-slider li a:hover, .menu-slider a.active i {
    color: rgb(76, 76, 76);
}

#slide1 h2 {
    position: absolute;
    bottom: 30%;
    width: 20%;
    padding-left: .75rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--gris-claro);
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);
}

#slide2 button {
    position: absolute;
    right: 10%;
    top: 5%;
    width: 6rem;
    height: 2.5rem;
    text-align: center;
    border-radius: .75rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--gris-claro);
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.75);
    z-index: 10;
}

#slide2 button a {
    cursor: pointer;
}

#slide2 button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

/* página perdidos */

#slide1 .slide-texto {
    position: absolute;
}

#slide1 h3.slide-texto {
    bottom: 23%;
    left: 5%;
    font-weight: 500;
    font-size: 1.1rem;
}

#slide1 p.slide-texto {
    bottom: 12%;
    left: 6%;
    font-size: .9rem;
}

.bg-gray {
    position: absolute;
    width: 100%;
    height: 40%;
    background-color: rgba(128, 128, 128, 0.809);
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .6rem;
}

.bg-gray h3 {
    font-weight: 500;
    font-size: 1.1rem;
}

.bg-gray p {
    font-size: .9rem;
    padding-left: 1.1rem;
}