#btn-up {
    padding: .8rem;
    border-radius: 100%;
    background: rgba(30, 30, 30, 0.177);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    z-index: 10;
    bottom: 2vh;
    right: 4vw;
    color: rgb(85, 85, 85);
    transition: all .5s;
}

#btn-up i {
    border-radius: 100%;
    font-size: 1.3rem;
}

#btn-up:hover {
    color: rgb(0, 0, 0);
    background: rgba(30, 30, 30, 0.3);
}

@media (min-width: 768px) {
    #btn-up {
        padding: 1rem;
        cursor: pointer;
        right: 3vw;
        bottom: 4vh;
    }
}